In [1]:
import pandas as pd
purchaseFile = "Resources/purchase_data.csv"

In [2]:
purchaseData_df = pd.read_csv(purchaseFile)

In [3]:
#Getting Total Player Count
totalPlayerCount = len(purchaseData_df["SN"].unique())
totalPlayer_df = pd.DataFrame({
    "Total Player Count": [totalPlayerCount]
})
totalPlayer_df
# print(f"Total Player Count: {totalPlayerCount}")

   Total Player Count
0                 576

In [4]:
#Purchasing Analysis (Total)
uniqueItems = len(purchaseData_df["Item ID"].unique())
averagePurchasePrice = round(purchaseData_df["Price"].mean(), 2)
totalPurchases = len(purchaseData_df["Purchase ID"])
totalRevenue = purchaseData_df["Price"].sum()
purchasingAnalysis = pd.DataFrame({
    "Total Unique Items": [uniqueItems],
    "Average Price": [averagePurchasePrice],
    "Total Purchases": [totalPurchases],
    "Total Revenue": [totalRevenue]
})
purchasingAnalysis["Average Price"] = purchasingAnalysis["Average Price"].map("${0:,.2f}".format)
purchasingAnalysis["Total Revenue"] = purchasingAnalysis["Total Revenue"].map("${0:,.2f}".format)

In [5]:
purchasingAnalysis

   Total Unique Items Average Price  Total Purchases Total Revenue
0                 179         $3.05              780     $2,379.77

In [6]:
#Creating Dataframes for each gender
male_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Male", :].reset_index(drop=True)
female_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Female", :].reset_index(drop=True)
otherND_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Other / Non-Disclosed", :].reset_index(drop=True)

In [7]:
#Gender Demographics
maleCount = len(male_df["SN"].unique())
femaleCount = len(female_df["SN"].unique())
otherCount = len(otherND_df["SN"].unique())
malePercentage = round(maleCount / totalPlayerCount * 100, 2)
femalePercentage = round(femaleCount / totalPlayerCount * 100, 2)
otherPercentage = round(otherCount / totalPlayerCount * 100, 2)
genderDemographics = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Count": [maleCount, femaleCount, otherCount],
    "Percentage of Players": [malePercentage, femalePercentage, otherPercentage]
})

genderDemographics = genderDemographics.set_index("Gender")
genderDemographics["Percentage of Players"] = genderDemographics["Percentage of Players"].map("{0:,.2f}%".format)

In [8]:
genderDemographics

                       Count Percentage of Players
Gender
Male                     484                84.03%
Female                    81                14.06%
Other / Non-Disclosed     11                 1.91%

In [9]:
#Grabbing analysis values for each gender
mPurchaseCount = len(male_df["Purchase ID"])
mAvgPurchase = round(male_df["Price"].mean(), 2)
mTotalSpent = male_df["Price"].sum()
mSpentOverGenCount = round(mTotalSpent / maleCount, 2)

fPurchaseCount = len(female_df["Purchase ID"])
fAvgPurchase = round(female_df["Price"].mean(), 2)
fTotalSpent = female_df["Price"].sum()
fSpentOverGenCount = round(fTotalSpent / femaleCount, 2)

oPurchaseCount = len(otherND_df["Purchase ID"])
oAvgPurchase = round(otherND_df["Price"].mean(), 2)
oTotalSpent = otherND_df["Price"].sum()
oSpentOverGenCount = round(oTotalSpent / otherCount, 2)

In [10]:
#Purchasing Analysis (Gender) Dataframe
rawpuchasingAnalysisGender = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [mPurchaseCount, fPurchaseCount, oPurchaseCount],
    "Average Purchase": [mAvgPurchase, fAvgPurchase, oAvgPurchase],
    "Total Spent": [mTotalSpent, fTotalSpent, oTotalSpent],
    "Average Spent per Person": [mSpentOverGenCount, fSpentOverGenCount, oSpentOverGenCount]  
})
puchasingAnalysisGender = rawpuchasingAnalysisGender.groupby(["Gender"]).sum()
puchasingAnalysisGender["Average Purchase"] = puchasingAnalysisGender["Average Purchase"].map("${0:,.2f}".format)
puchasingAnalysisGender["Total Spent"] = puchasingAnalysisGender["Total Spent"].map("${0:,.2f}".format)
puchasingAnalysisGender["Average Spent per Person"] = puchasingAnalysisGender["Average Spent per Person"].map("${0:,.2f}".format)

In [11]:
puchasingAnalysisGender

,Purchase Count,Average Purchase,Total Spent,Average Spent per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [12]:
#Create Bins and cut the data into the bins into a new DataFrame
ageBin = [0,9,14,19,24,29,34,39,100]
ageGroup = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+",]
purchaseData_df["Age Group"] = pd.cut(purchaseData_df["Age"], ageBin, labels = ageGroup, include_lowest=True)
uniqueSNAgeGroup_df = purchaseData_df.drop_duplicates(subset=["SN"])

In [13]:
#Grab Variables for Analysis
ageGroupCounts = uniqueSNAgeGroup_df["Age Group"].value_counts()
kidsPercentage = round(ageGroupCounts["<10"] / totalPlayerCount * 100, 2)
tweenPercentage = round(ageGroupCounts["10-14"] / totalPlayerCount * 100, 2)
teenPercentage = round(ageGroupCounts["15-19"] / totalPlayerCount * 100, 2)
youngAdultPercentage = round(ageGroupCounts["20-24"] / totalPlayerCount * 100, 2)
midTwentiesPercentage = round(ageGroupCounts["25-29"] / totalPlayerCount * 100, 2)
earlyThirtiespercentage = round(ageGroupCounts["30-34"] / totalPlayerCount * 100, 2)
midThirtiesPercentage = round(ageGroupCounts["35-39"] / totalPlayerCount * 100, 2)
oldPercentage = round(ageGroupCounts["40+"] / totalPlayerCount * 100, 2)

In [14]:
ageDemographics_df = pd.DataFrame({
    "Age Group" : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+",],
    "Total Count": [ageGroupCounts["<10"], ageGroupCounts["10-14"], ageGroupCounts["15-19"], ageGroupCounts["20-24"], ageGroupCounts["25-29"], ageGroupCounts["30-34"], ageGroupCounts["35-39"], ageGroupCounts["40+"]],
    "Percentage of Players": [kidsPercentage, tweenPercentage, teenPercentage, youngAdultPercentage, midTwentiesPercentage, earlyThirtiespercentage, midThirtiesPercentage, oldPercentage]
})
ageDemographics_df = ageDemographics_df.set_index("Age Group")
ageDemographics_df["Percentage of Players"] = ageDemographics_df["Percentage of Players"].map("{0:,.2f}%".format)

In [15]:
ageDemographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [16]:
#Create dataframes for each age group to run calculations
kids_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "<10", :]
tween_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "10-14", :]
teen_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "15-19", :]
youngAdult_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "20-24", :]
midTwenties_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "25-29", :]
earlyThirties_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "30-34", :]
midThirties_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "35-39", :]
old_df = purchaseData_df.loc[purchaseData_df["Age Group"] == "40+", :]

In [17]:
#Grabs varables for age group purchase analysis from dataframes created above
kidsPurchaseCount = len(kids_df["Purchase ID"])
kidsAvgPurchase = round(kids_df["Price"].mean(), 2)
kidsTotalSpent = kids_df["Price"].sum()
kidsSpentOverGenCount = round(kidsTotalSpent / ageGroupCounts["<10"], 2)

tweenPurchaseCount = len(tween_df["Purchase ID"])
tweenAvgPurchase = round(tween_df["Price"].mean(), 2)
tweenTotalSpent = tween_df["Price"].sum()
tweenSpentOverGenCount = round(tweenTotalSpent / ageGroupCounts["10-14"], 2)

teenPurchaseCount = len(teen_df["Purchase ID"])
teenAvgPurchase = round(teen_df["Price"].mean(), 2)
teenTotalSpent = teen_df["Price"].sum()
teenSpentOverGenCount = round(teenTotalSpent / ageGroupCounts["15-19"], 2)

youngAdultPurchaseCount = len(youngAdult_df["Purchase ID"])
youngAdultAvgPurchase = round(youngAdult_df["Price"].mean(), 2)
youngAdultTotalSpent = youngAdult_df["Price"].sum()
youngAdultSpentOverGenCount = round(youngAdultTotalSpent / ageGroupCounts["20-24"], 2)

midTwentiesPurchaseCount = len(midTwenties_df["Purchase ID"])
midTwentiesAvgPurchase = round(midTwenties_df["Price"].mean(), 2)
midTwentiesTotalSpent = midTwenties_df["Price"].sum()
midTwentiesSpentOverGenCount = round(midTwentiesTotalSpent / ageGroupCounts["25-29"], 2)

earlyThirtiesPurchaseCount = len(earlyThirties_df["Purchase ID"])
earlyThirtiesAvgPurchase = round(earlyThirties_df["Price"].mean(), 2)
earlyThirtiesTotalSpent = earlyThirties_df["Price"].sum()
earlyThirtiesSpentOverGenCount = round(earlyThirtiesTotalSpent / ageGroupCounts["30-34"], 2)

midThirtiesPurchaseCount = len(midThirties_df["Purchase ID"])
midThirtiesAvgPurchase = round(midThirties_df["Price"].mean(), 2)
midThirtiesTotalSpent = midThirties_df["Price"].sum()
midThirtiesSpentOverGenCount = round(midThirtiesTotalSpent / ageGroupCounts["35-39"], 2)

oldPurchaseCount = len(old_df["Purchase ID"])
oldAvgPurchase = round(old_df["Price"].mean(), 2)
oldTotalSpent = old_df["Price"].sum()
oldSpentOverGenCount = round(oldTotalSpent / ageGroupCounts["40+"], 2)

In [18]:
purchasingAnalysisAge_df = pd.DataFrame({
    "Age Group": ageGroup,
    "Purchase Count": [kidsPurchaseCount, tweenPurchaseCount, teenPurchaseCount, youngAdultPurchaseCount, midTwentiesPurchaseCount, earlyThirtiesPurchaseCount, midThirtiesPurchaseCount, oldPurchaseCount],
    "Average Purchase Price": [kidsAvgPurchase, tweenAvgPurchase, teenAvgPurchase, youngAdultAvgPurchase, midTwentiesAvgPurchase, earlyThirtiesAvgPurchase, midThirtiesAvgPurchase, oldAvgPurchase],
    "Total Purchase Value": [kidsTotalSpent, tweenTotalSpent, teenTotalSpent, youngAdultTotalSpent, midTwentiesTotalSpent, earlyThirtiesTotalSpent, midThirtiesTotalSpent, oldTotalSpent],
    "Avg Total Purchase per Person": [kidsSpentOverGenCount, tweenSpentOverGenCount, teenSpentOverGenCount, youngAdultSpentOverGenCount, midTwentiesSpentOverGenCount, earlyThirtiesSpentOverGenCount, midThirtiesSpentOverGenCount, oldSpentOverGenCount]
}).groupby("Age Group").sum().reindex(ageGroup)
purchasingAnalysisAge_df["Average Purchase Price"] = purchasingAnalysisAge_df["Average Purchase Price"].map("${0:,.2f}".format)
purchasingAnalysisAge_df["Total Purchase Value"] = purchasingAnalysisAge_df["Total Purchase Value"].map("${0:,.2f}".format)
purchasingAnalysisAge_df["Avg Total Purchase per Person"] = purchasingAnalysisAge_df["Avg Total Purchase per Person"].map("${0:,.2f}".format)

In [19]:
purchasingAnalysisAge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [20]:
#Make 1 series of purchase count, 2 df's groupby SN, one for AVG purchase value .mean(), one more total purchase value .sum()
unscrubbedSNPurchaseCount = pd.DataFrame(purchaseData_df["SN"].value_counts()).reset_index(drop=False)
SNPurchaseCount = unscrubbedSNPurchaseCount.rename(columns={"index": "SN", "SN": "Purchase Count"})
SNAvgPurchase = round(purchaseData_df[["SN", "Price"]].groupby("SN").mean(), 2)
SNSumPurchase = purchaseData_df[["SN", "Price"]].groupby("SN").sum()
SNfirstJoin = pd.merge(SNPurchaseCount, SNAvgPurchase, on="SN", how="outer")
unscrubbedTopSpenders = pd.merge(SNfirstJoin, SNSumPurchase, on="SN", how="outer")
topSpenders = unscrubbedTopSpenders.rename(columns={"Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value Count"}).sort_values("Total Purchase Value Count", ascending=False).set_index("SN")
topSpenders["Average Purchase Price"] = topSpenders["Average Purchase Price"].map("${0:,.2f}".format)
topSpenders["Total Purchase Value Count"] = topSpenders["Total Purchase Value Count"].map("${0:,.2f}".format)

In [21]:
topSpenders.head()

             Purchase Count Average Purchase Price Total Purchase Value Count
SN
Lisosia93                 5                  $3.79                     $18.96
Idastidru52               4                  $3.86                     $15.45
Chamjask73                3                  $4.61                     $13.83
Iral74                    4                  $3.40                     $13.62
Iskadarya95               3                  $4.37                     $13.10

In [22]:
#Create dataframes returning calculations
items_df = purchaseData_df.loc[:, ["Item ID", "Item Name", "Price"]]
itemsNoDupes_df = items_df.drop_duplicates(subset="Item ID")
purchaseCountItems_df = pd.DataFrame(items_df["Item ID"].value_counts()).reset_index(drop=False).rename(columns={"index": "Item ID", "Item ID": "Purchase Count"})
totalPurchaseValue = items_df.groupby("Item ID").sum().rename(columns={"Price":"Total Purchase Value"})
itemsFirstMerge_df = pd.merge(purchaseCountItems_df, itemsNoDupes_df, on="Item ID", how="outer")
itemsSecondMerge_df = pd.merge(itemsFirstMerge_df, totalPurchaseValue, on="Item ID", how="outer")
mostSoldItems_df = itemsSecondMerge_df.groupby(["Item ID", "Item Name"]).sum().sort_values("Purchase Count", ascending=False)
mostSoldItems_df["Price"] = mostSoldItems_df["Price"].map("${0:,.2f}".format)
mostSoldItems_df["Total Purchase Value"] = mostSoldItems_df["Total Purchase Value"].map("${0:,.2f}".format)

In [26]:
mostSoldItems_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.19,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [24]:
mostProfitableItems_df = itemsSecondMerge_df.groupby(["Item ID", "Item Name"]).sum().sort_values("Total Purchase Value", ascending=False)
mostProfitableItems_df["Price"] = mostProfitableItems_df["Price"].map("${0:,.2f}".format)
mostProfitableItems_df["Total Purchase Value"] = mostProfitableItems_df["Total Purchase Value"].map("${0:,.2f}".format)

In [25]:
mostProfitableItems_df.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80