In [1]:
import pandas as pd
purchaseFile = "Resources/purchase_data.csv"

In [2]:
purchaseData_df = pd.read_csv(purchaseFile)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Getting Total Player Count
totalPlayerCount = len(purchaseData_df["SN"].unique())
totalPlayer_df = pd.DataFrame({
    "Total Player Count": [totalPlayerCount]
})
totalPlayer_df
# print(f"Total Player Count: {totalPlayerCount}")

   Total Player Count
0                 576

In [4]:
#Purchasing Analysis (Total)
uniqueItems = len(purchaseData_df["Item ID"].unique())
averagePurchasePrice = round(purchaseData_df["Price"].mean(), 2)
totalPurchases = len(purchaseData_df["Purchase ID"])
totalRevenue = purchaseData_df["Price"].sum()
purchasingAnalysis = pd.DataFrame({
    "Total Unique Items": [uniqueItems],
    "Average Price": [averagePurchasePrice],
    "Total Purchases": [totalPurchases],
    "Total Revenue": [totalRevenue]
})
purchasingAnalysis
#print(f"Total Unique Items: {uniqueItems} \nAverage Purchase Price: ${averagePurchasePrice}\nTotal Purchases: {totalPurchases}\nTotal Revenue: ${totalRevenue}")

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 179           3.05              780        2379.77

In [9]:
#Creating Dataframes for each gender
female_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Female", :]
male_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Male", :].reset_index(drop=True)
#female_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Female", :].reset_index(drop=True)
otherND_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Other / Non-Disclosed", :].reset_index(drop=True)
female_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [6]:
#Gender Demographics
maleCount = len(male_df["SN"].unique())
femaleCount = len(female_df["SN"].unique())
otherCount = len(otherND_df["SN"].unique())
malePercentage = round(maleCount / totalPlayerCount * 100, 2)
femalePercentage = round(femaleCount / totalPlayerCount * 100, 2)
otherPercentage = round(otherCount / totalPlayerCount * 100, 2)
genderDemographics = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Count": [maleCount, femaleCount, otherCount],
    "Percentage of Players": [malePercentage, femalePercentage, otherPercentage]
})

genderDemographics.set_index("Gender")

                       Count  Percentage of Players
Gender
Male                     484                  84.03
Female                    81                  14.06
Other / Non-Disclosed     11                   1.91

In [7]:
#Grabbing analysis values for each gender
mPurchaseCount = len(male_df["Purchase ID"])
mAvgPurchase = round(male_df["Price"].mean(), 2)
mTotalSpent = male_df["Price"].sum()
mSpentOverGenCount = round(mTotalSpent / maleCount, 2)

fPurchaseCount = len(female_df["Purchase ID"])
fAvgPurchase = round(female_df["Price"].mean(), 2)
fTotalSpent = female_df["Price"].sum()
fSpentOverGenCount = round(fTotalSpent / femaleCount, 2)

oPurchaseCount = len(otherND_df["Purchase ID"])
oAvgPurchase = round(otherND_df["Price"].mean(), 2)
oTotalSpent = otherND_df["Price"].sum()
oSpentOverGenCount = round(oTotalSpent / otherCount, 2)

In [8]:
#Purchasing Analysis (Gender) Dataframe
rawpuchasingAnalysisGender = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [mPurchaseCount, fPurchaseCount, oPurchaseCount],
    "Average Purchase": [mAvgPurchase, fAvgPurchase, oAvgPurchase],
    "Total Spent": [mTotalSpent, fTotalSpent, oTotalSpent],
    "Average Spent per Person": [mSpentOverGenCount, fSpentOverGenCount, oSpentOverGenCount]  
})
puchasingAnalysisGender = rawpuchasingAnalysisGender.groupby(["Gender"]).sum()
puchasingAnalysisGender

,Purchase Count,Average Purchase,Total Spent,Average Spent per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56